html, body {
  margin: 0;
  padding: 0;
  background-color: #050304;
  width: 100%;
  max-width: 100%vw;
  height: 100%;
  max-height: 100%vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.walltop {
	background-image: url('wall.png');
	background-repeat: no-repeat;
	width: 140px;
	height: 220px;
}

.walltop.center {
	background-image: url('wallc.png');
}

.wallbot {
	background-image: url('wally.png');
	background-repeat: no-repeat;
	width: 140px;
	height: 160px;
}

.wallbot.center {
	background-image: url('wallcy.png');
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.floortop {
	background-image: url('floory.png');
	background-repeat: no-repeat;
	width: 140px;
	height: 80px;
}

.floortop.center {
	background-image: url('floorcy.png');
}

.floorbot {
	background-image: url('floor.png');
	background-repeat: no-repeat;
	width: 140px;
	height: 180px;
}

.floorbot.center {
	background-image: url('floorc.png');
}

.left {
	background-position: 0 0;
}

.center {
	background-repeat: repeat-x;
	width: auto;
}

.right {
	background-position: -140 0;
}

.scene {
	display: grid;
	grid-template-columns: 140px 640px 140px;
	grid-template-rows: 220px 160px 80px 180px;
	margin: 0;
	padding: 0;
}
